*.msh
*.DS_Store
*.gz
*.log
*.aux
*.out
*.o
*.pdf
**/Notes
*~
*Test_pts*
*Test_tri*
*Ez_inc.txt
*Ez_sct.txt
*Ez_tot.txt
*k2_fgd.txt
*Ez_inc_d.txt
*Ez_sct_d.txt
*Ez_tot_d.txt
*probe_xyz.txt
*tri_areas.txt
*tri_centroids.txt
