*.msh
*.DS_Store
*.gz
*.log
*.aux
*.out
*.o
*.pdf
*.png
*.jpg
**/Notes
*~
*tri_pts*
*tri_tri*
*Ez_inc.txt
*Ez_sct.txt
*Ez_tot.txt
*k2_fgd.txt
*Ez_inc_d.txt
*Ez_sct_d.txt
*Ez_tot_d.txt
*probe_xyz.txt
*tri_areas.txt
*tri_centroids.txt
*Ez_inc_d_*.txt
*Ez_sct_d_*.txt
*Ez_tot_d_*.txt
*Ez_inc_*.txt
*Ez_sct_*.txt
*Ez_tot_*.txt
Assignments/A1/Report
Assignments/A1/eps_r.txt
Assignments/A2/Tri.txt
Assignments/A2/Alphas.txt
Assignments/A2/Chi.txt
Assignments/A2/Ez_tot_opt.txt
Assignments/A2/Points.txt
Assignments/A2/eps_r.txt
Assignments/A2/**Hannah**
Assignments/A2/A2Output
Assignments/A2/A2Output_MultiTx
Assignments/A2/A2Output_SingleTx
Assignments/A2/FwdData_SingleTx
Assignments/A2/FwdData_MultiTx
Assignments/A2/Report
Play/
*.py
Assignments/A3/A3P4Data
Assignments/A3/Assignment 3 Data and TxPositions.zip
Assignments/A3/scratch.m
Assignments/A3/Report
